* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    min-height: 100vh;
    background-color:#65ccb8 ;
    overflow: hidden;
}

#content
{
    min-height: 100%;
}

.navBar , .navBarMenu
{
    display:flex;
    justify-content: space-evenly;
    color: #182628;
    font-weight: bold;
    padding-top: 10px;
}

.container
{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.topText
{
    margin-top: 200px;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

.bottomText
{
    font-size: large;
    text-align: center;
    margin-top: 15px;
}

.middleText
{
    max-width: 1000px;
    padding: 15px;
    margin-left: 300px;
    color: #f2f2f2;
}

.footerText
{
    text-align: center;
    font-weight: bold;
    color: #182628;   
    position: fixed;
    bottom: 0;
    margin-left: 750px;
    padding-bottom: 5px;
}

.container1{
    display: flex;
    flex-direction: column;
}

.textOffer
{
    font-size: x-large;
    font-weight: bold;
    margin-top: 3%;
    padding: 2%;
}

.menuItemsOne
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}


.img1, .img2, .img3
{
    width:50%;
    height:auto;
}


.itemOne, .itemTwo, .itemThree
{
    display: flex;
    flex-direction: column;

}

.actualMenu
{
    display: flex;    
    margin-left: 50%;
    flex-direction: column;
    padding: 10px;
    row-gap: 20px;
}

.subTitle
{
    font-weight: 600;
}

.menuTitle
{
    font-size: x-large;
    font-weight: bold;
}

.item
{
    margin-left: 10px;
}

#home
{
    cursor: pointer;
}

#menu
{
    cursor: pointer;
}

#aboutUs
{
    cursor: pointer;
}

.aboutUsText
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 30px;
    column-gap: 20px;
}

.textLeft
{
    text-align: center;
}

#img4
{
    border-radius: 20%;
    margin-left: 10%;
}

.headingAboutUs
{
    font-weight: bold;
    font-size: larger;
    margin-top: 50px;
    margin-left: 30px;
}